doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='description', content='Player.IO is a media center thats run on your browser. Made with node.js, socket.io and File Access API, that is, just javascript! By Vagner Santana')
    meta(name='keywords', content='player.io, node.js, socket.io, websocket, vagner santana, html5, javascript')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='stylesheet', href='assets/css/player.io.style.css')
    //FONTS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
    //OPEN GRAPH
    meta(property='og:title', content='Player.IO | Vagner Santana')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://vagnersantana.com/player.io')
    meta(property='og:image', content='http://vagnersantana.com/player.io/assets/img/logo.png')
    meta(property='og:site_name', content='Player.IO | Vagner Santana')
    meta(property='og:description', content='Player.io is a media center thats run on your browser. Made with node.js, socket.io and File Access API, that is, just javascript! By Vagner Santana')
    //Google Analytics 
    script(src='http://www.google-analytics.com/ga.js', async, defer)

  body
    header
      a(href='http://vagnersantana.com/player.io/')
        h1 Player.IO
    .github
      a(href='https://github.com/vagnervjs/player.io', target='_blank')
        img(src='assets/img/forkme.png', alt='Fork me on GitHub')
    section.container
      aside.left
        h2 Playlist
        p
          button#open Open 
          |  a local media or...
          input#fileinp(type='file', name='file', multiple='multiple')
        p
          button#add Add 
          |  a media 
          span.bluebold URL 
          |  bellow:
        input#mediaurl(type='text', value='http://81310752d5730fb4ef3c-221b4998ec12974102282b6d4a8fafbe.r2.cf1.rackcdn.com/Snowball.ogv', placeholder='http://81310752d5730fb4ef3c-221b4998ec12974102282b6d4a8fafbe.r2.cf1.rackcdn.com/Snowball.ogv')
        #message
          noscript
            a(href='http://www.enable-javascript.com/', target='_blank') You must enable javascript
        .playlist
          ul.playlist-ul
            span#no_file No files to play!
      aside.right
        .mobile
          h2 Mobile
          p
            | Read this QR Code on your 
            span.bluebold  smartphone
            | , or just open the link address.
          #qr
        .options
          h2 Options
          p Screen ratio
            select#screenratio
              option(value='auto') Auto
              option(value='widescreen') 16:9
              option(value='standard') 4:3
          p Fullscreen (F11)
            input#fullscreen(type='checkbox')
          p Autoplay
            input#autoplay(type='checkbox', disabled)
          p Random
            input#random(type='checkbox', disabled)
          p Language: 
            a#language English
      .content
        #audio_only
        video#player(autobuffer='autobuffer', autoplay='autoplay', controls='controls')
      footer
        #google_translate_element
        span
          | made by 
          a(href='http://vagnersantana.com', target='_blank') Vagner Santana
  //JS Files 
  script(src='assets/js/jquery.min.js')
  script(src='assets/js/socket.io.min.js')
  script(src='assets/js/player.io.js')
  script(src='assets/js/player.io.client.js')
  script(src='assets/js/player.io.spectre.js')
  script(src='assets/js/player.io.media.js')

