!!! 5
html(lang='en')
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel="shortcut icon", href="../assets/img/favicon.ico")
    link(rel='stylesheet', href='../assets/css/jquery.mobile.min.css')
    link(rel='stylesheet', href='../assets/css/player.io.mobile.css')
    //Jquery
    script(src='../assets/js/jquery.min.js')
    script(src='../assets/js/jquery.mobile.min.js')

  body(id="#{id}")
    header
      a(href='http://vagnersantana.com/player.io/')
        img(src="../assets/img/logo_mini.png", alt="Player.IO")
    section
      .circle
        ul
          li(id="vol_up")
            img(src="../assets/img/icons/vol_up.svg", alt="Icon")
          li(id="next")
            img(src="../assets/img/icons/ff.svg", alt="Icon")
          li(id="vol_down")
            img(src="../assets/img/icons/vol_down.svg", alt="Icon")
          li(id="prev")
            img(src="../assets/img/icons/ff.svg", alt="Icon")
          li(id="play")
            img(src="../assets/img/icons/play.svg", alt="Icon")

      .others
        .right(id="fullscreen")
          img(src="../assets/img/icons/fullscreen.svg", alt="Icon")
        h3(class="clear") Time (%)
        input(type="range", name="slider", id="time", value="0", min="0", max="100", data-theme="a", data-track-theme="b")
    section 
      .playlist-mb
        h2 Playlist
        ul(id="playlist", data-role="listview", data-inset="true")
          li(id="no") 
            a(data-fileid="no") No files to play!
  //JS Files 
  script(src='../assets/js/socket.io.min.js')
  script(src='../assets/js/player.io.mobile.js')