/*
	Author: Vagner Santana;
			vagnersantana.com
*/

*{
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	padding: 0;
	border: 0;
  	background: #27282C url(../img/bg.png) repeat;
  	font-family: 'Ubuntu';
	color: #3c3b41;
	text-shadow: #fff 0 1px 0;
}

a{color: #8a93a0; text-decoration: none; text-shadow: #fff 0 1px 0;}
a:hover{color: #445259;}
p{font-size: 14px;}
.ft{color: #489ebf; font-weight: bold;}

/* Player */
video {
	width: 800px;
	height: 480px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 35px #000;
	-moz-box-shadow: 0 0 35px #000;
	background: #000000;
}

.fullScreen{
	position: fixed;
	top: 0;
	left: 0;
}

/* Layout */
.container {
	min-width: 1265px;
    max-width: 1380px;
    margin: 0 auto;
}

.content {
    width: 840px;
    height: 500px;
	margin-left: 260px;
}

.left {
    width: 260px;
    height: 500px;
    overflow: hidden;
    float: left;
    padding: 0 20px 0 20px;
}

.right {
    width: 160px;
    height: 500px;
    margin-right: 20px;
    overflow: hidden;
	float: right;
}

.playlist{
	width: 200px;
	height: 320px;
	padding: 10px;
	background: #e4e4e4;
	overflow-x: hidden;
	overflow-y: auto;	
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.playlist ul{
	list-style: square;
}

.playlist-li{
	cursor: pointer;
}

.playlist hr{
	margin: 10px 0 10px 0;
}

.nowplay{
	color: #25aba0 !important;
}

#message{
	color: red;
}

ul{
	-webkit-padding-start: 15px !important;
	-moz-padding-start: 15px !important;
	-ms-padding-start: 15px !important;
	-o-padding-start: 15px !important;
	padding-start: 15px !important;
}
aside p, input, div{
	padding-bottom: 10px; 
}
h2{
	font-size: 28px;
	margin-bottom: 15px;
} 

header{
	width: 100%;
	padding: 10px 0 10px 0;
	margin: 0 0 30px 0;
}
header h1{
	font-family: 'Play', sans-serif;
	font-size: 64px;
	color: #24c7c0;
	text-shadow:0px 0px 0 rgb(231,231,231),
				1px 1px 0 rgb(216,216,216),
				2px 2px 0 rgb(202,202,202),
				3px 3px 0 rgb(187,187,187),
				4px 4px 0 rgb(173,173,173),
				5px 5px 0 rgb(158,158,158), 
				6px 6px 0 rgb(144,144,144),
				7px 7px 6px rgba(0,0,0,0.6),
				7px 7px 1px rgba(0,0,0,0.5),
				0px 0px 6px rgba(0,0,0,.2);
}
header, footer{
	text-align: center;
}

footer{
	border-top: 1px dashed #b5b5b5;
	margin-top: 20px;
	padding: 20px 0 20px 0;
}

input{ width: 200px;}

.clear {
    clear: both;
}